.metadata/
orderpro/.settings/
orderpro/orderpro-asn/.project
orderpro/orderpro-asn/.settings/
orderpro-auth/.classpath
orderpro-auth/.project
orderpro-auth/.settings/
orderpro/orderpro-community/.classpath
orderpro/orderpro-community/.project
orderpro/orderpro-community/.settings/
orderpro/orderpro-invoice/.project
orderpro/orderpro-invoice/.settings/
orderpro/orderpro-order/.classpath
orderpro/orderpro-order/.project
orderpro/orderpro-order/.settings/
orderpro/orderpro-property/.classpath
orderpro/orderpro-property/.project
orderpro/orderpro-property/.settings/
orderpro/orderpro-scheduler/.project
orderpro/orderpro-scheduler/.settings/
orderpro/orderpro-user/.classpath
orderpro/orderpro-user/.project
orderpro/orderpro-user/.settings/
